body {
  margin: 0;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  height: 68px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__navigation{
display: flex;
flex-direction: row;
width: 250px;
font-size: 22px;
font-weight: 500;
align-self: center;
gap: 1em;
justify-content: flex-end;


}

.header__logo-container
{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 30%;

}

.header__nav-item {
  cursor: pointer;
  text-decoration: none;
}

.header__nav-item--active
{
  text-decoration: underline;
  cursor: default;
}

main {
  border: solid 1px black;
  padding: 40px 80px 40px 80px;
}

.main__background
{
  object-fit: cover;
  height: 200px;
  border-radius: 25px;
  margin: 0 0 50px 0;
  width: 100%;
  filter: brightness(50%);
}

.main__banner-text {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
/* meilleur responsive avec translate */
  font-size: 3vw;
  font-weight: 700;
  color: #FFFFFF;
}

.main__flexbox
{
  width:100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  background-color:#F6F6F6;
  border-radius: 25px;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.main__flexbox > div {
  margin:20px;
  width: 29%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.main__box-text
{
  position: relative;
  left: 2%;
  top: 82%;
  font-size: 1.5vw;

  color: #FFFFFF;
  text-shadow: 0 0 2px #000;
}

.footer {
  background-color: black;
  width:100%;
  color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 169px;
  font-size: 24px;
  padding-top: 40px;
}

.collapse__container
{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.collapse__item
{
  border-radius: 12px;
  background-color: #FF6060;
  width: 80%;
  margin: 10px 0;
  overflow: hidden;
}

.collapse__click
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.collapse__content
{
  background-color: #F6F6F6;
  font-size: 18px;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

.wrapper-404 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.wrapper-404__AOA
{
  color: #FF6060;
  font-size: 261px;
  font-weight: 700;
  font-family: sans-serif;
  transform: scaleY(0.8);
}

.wrapper-404__oups
{
  color: #FF6060;
  font-size: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper-404__retour
{
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
  margin: 80px 0 80px 0
}

.wrapper-404__retour
:hover {
  cursor: pointer;
}

.carousel__transition
{
  transform: translateX(-100%);
}

button {
  position: relative;
  border: 0;
  background-color: transparent;
  transform: scale(8, 8);
  color: white;
  padding:0;
}

button:hover {
  cursor: pointer;
}

.carousel__left-arrow
{
  left: 6%;
  top: 271px;
  z-index: 10;
}

.carousel__right-arrow
{
  left: 94%;
  bottom: 250px;
  z-index: 10;
}


.carousel__container
{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}


.carousel__image-container
{
  display: flex;
  width: 100%;
}

.carousel__image
 {
  min-width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;
}

.Container-caroussel, .filtres, .title-and-subtitle, .descri-et-equipement {
  margin: 10px 0 10px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.descri-et-equipement {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.descri-et-equipement > .collapse__item
{
  width: 45%;
}

.title-and-person__photo
{
  border-radius: 50%;
  border: 1px solid black;
  height: 64px;
  width: 64px;
}

.title-and-person__photo
img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  border-radius: 50%;
}

.title-and-subtitle__title
{
  font-weight: 500;
  font-size: 36px;
  font-family: sans-serif;
  color: #FF6060;
  transform: scaleY(0.9);
  margin: 0 0 10px 0
}

.title-and-subtitle__subtitle {
  font-weight: 500;
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  transform: scaleY(0.9);
}

.title-and-person__name
{
  font-weight: 500;
  font-size: 18px;
  font-family: sans-serif;
  color: #FF6060;
  transform: scaleY(0.9);
  text-align: right;
  line-height: 170%;
}

.title-and-person__person
{
  display: flex;
  gap: 1em;
}

.filter__container
{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter__item {
  background-color: #FF6060;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}

.rating__container
{
  text-align: right;
  transform: scale(1.5, 1.5) translateX(-20%);
  overflow: hidden;
}

svg {
margin: 0 5px 0 5px}

.host__note
{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.collapse__content__item {
  line-height: 10px;
}

.accommodation__left
{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  display: inline-block;
  width:60%

}

.accommodation__right
{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width:40%
}

.accommodation__content
{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 578px) {

main {
  border: solid 1px black;
  padding: 10px 20px 10px 20px;
}

.accommodation__content
{
  flex-direction: column;
}

.conteneur {
  width:40%;
}

.header__navigation
{
  justify-content: space-evenly;
  width:60%;
}

.accommodation__left
{
  width: 100%;
}

.accommodation__right
{
  width: 100%;
  justify-content: space-between;
}

.host__note
{
  flex-direction: row-reverse;
  width: 100%;
}

.rating__container
{
  transform: translateX(0);
}

.AOA {
font-size: 200px;
}

.logo {
transform: scale(0.5, 0.5) translate(-50%);
}

.main__flexbox > div {
  margin:10px;
  width: 95%;
}

.main__box-text
{
  font-size: 2.5vw;
}

button {
  transform: scale(4, 4);
}

.descri-et-equipement > .collapse__item
{
  width:100%;
}
}
